**

.vimrc
.vim/*
.bash_aliases
.CS1_aliases
.config/terminator
**/*.a
**/*.so
**/*.o
**/*.x
**/*.log
**/*.swp
*swp
**/*.swo
shakespeare_test
shakespeare.h
fletcher.h
SC_he100.h
NamedPipe.h
Net2Com.h
timer.h
include/*.h !include/SpaceDecl.h
lib/* !lib/README.txt

shakespeare/lib
utls/bin
utls/lib
checksum/lib
